@using Libria.Areas.Admin.Models;
@using Libria.Areas.Admin.ViewModels;
@using Libria.Models.Entities;
@using Libria.ViewModels.Order;

@model DashboardOrderDetailsViewModel;

<partial name="_SideBarPartial" model="@new SidebarViewModel(MenuItemType.Orders)"></partial>

<div class="container-fluid p-4 overflow-auto">
	<div class="p-3">
		<div class="d-flex flex-wrap justify-content-between align-items-start">
			<h2>Номер замовлення: #<span class="text-danger">@Model.Order.OrderId</span></h2>
			<a asp-area="" asp-controller="Home" asp-action="Index">В магазин</a>
		</div>

		<form method="post" asp-controller="Orders" asp-action="Details">
			<div class="my-4 d-flex">
				<h4 class="me-3 mb-0">Статус:</h4>
				<div class="me-3">
					<select name="status" class="form-select" asp-items="@Model.OrderStatusSelectItems"></select>
				</div>
				<button type="submit" class="btn btn-outline-primary align-self-end">Оновити</button>
			</div>
			<input type="hidden" name="id" value="@Model.Order.OrderId"/>
		</form>

		<div class="row">
			<div class="col">
				<table class="table">
					<thead>
						<tr>
							<th scope="col" class="w-50 h5">Деталі замовлення</th>
							<th scope="col" class="w-50"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">Ім'я</th>
							<td>@Model.Order.FirstName</td>
						</tr>
						<tr>
							<th scope="row">Прізвище</th>
							<td>@Model.Order.LastName</td>
						</tr>
						<tr>
							<th scope="row">Номер телефону</th>
							<td>@Model.Order.PhoneNumber</td>
						</tr>
						<tr>
							<th scope="row">E-mail</th>
							<td>@Model.Order.Email</td>
						</tr>
						<tr>
							<th scope="row">Час замовлення</th>
							<td>@Model.Order.GetFormattedDate()</td>
						</tr>
						<tr>
							<th scope="row">Сумарно</th>
							<td>@Model.Order.TotalSpent грн.</td>
						</tr>
					</tbody>
				</table>
				<table class="table mt-4">
					<thead>
						<tr>
							<th scope="col" class="w-50 h5">Доставка</th>
							<th scope="col" class="w-50"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">Місто</th>
							<td>@Model.Order.City</td>
						</tr>
						<tr>
							<th scope="row">Адресу</th>
							<td>@Model.Order.Address</td>
						</tr>
					</tbody>
				</table>
				<div class="my-4">
					<label for="userOrderComment" class="form-label">Коментар замовника</label>
					<textarea id="userOrderComment" class="form-control bg-white" readonly rows="4">@Model.Order.Comment</textarea>
				</div>
			</div>
			<div class="col">
				<h5 class="mb-0" style="padding:.5rem 0">Зміст замовлення:</h5>
				@foreach (var item in Model.OrderItems)
				{
					<partial name="_OrderItemPartial" model=@item></partial>
				}
			</div>
		</div>
	</div>
</div>